// Navigation code here

.top-nav{

    .flex-mix(@direction: column);
  
    width: 90%;
    margin: 0 auto;
    background-color: @nav-bg;
    padding-bottom: 10px;
    border-bottom: 2px solid @nav-border;

   
        @media @phone{
          
          width: 100%;
          
        }
  
      
    
   
    
    h1{
        .h1-heading();
        color: @header-font-color;
    }
    nav{
        .flex-mix(@justify: space-between);
        width: 50%;

        @media @phone {
            width: 90%;
        }

        .navi{
            .navigation();
            @media @phone {
                font-size: 1.6rem;

            }

        }
    }
}